body {
  margin: 0;
  font-family: 'Omnes', sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 197, 235);
}

@font-face {
  font-family: 'Omnes';
  src: local('Omnes'), url('./assets/fonts/Omnes.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
